

/* What Sales Css Start */
.what-sales-list p:first-child {
  margin-bottom: -15px;
  color: var(--sb-white);
  margin-top: 1.25rem;
}
.what-sales-list ul {
  padding-left: 1.25rem;
}
.what-sales-list ul li {
  color: var(--sb-white);
  font-family: var(--font-instrument-sans);
  letter-spacing: -0.18px;
  font-weight: 500;
}
.what-sales-buddi .section-heading p {
	max-width: 54.625rem;
	margin-left: auto;
	margin-right: auto;
}
.what-sales-boxes-wrapper .what-sales-boxes-inner:not(:last-child) {
	margin-bottom: 2rem;
}
.what-sales-boxes-inner {
  border-radius: 1rem;
  border-top: 1px solid var(--Border-Gradient, rgba(212, 247, 134, 0.20));
  background: radial-gradient(66.55% 191.95% at 50% 242.45%, rgba(226, 230, 233, 0.10) 0%, rgba(226, 230, 233, 0.00) 100%), #1A1A1A;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}
.what-sales-contents {
	width: 51.625rem;
}
.what-sales-contents h5 {
	color: #F5F5F5;
	letter-spacing: -0.4px;
	line-height: normal;
	font-weight: 600;
	font-family: var(--font-zalando-sans);
	margin-bottom: 3.75rem;
	display: flex;
	align-items: center;
	column-gap:  0.625rem;
}
.what-sales-contents h5 span {
  color: var(--sb-primary);
  border-radius: 300px;
  border: 1px solid var(--sb-primary);
  padding: 0.25rem 1.5rem;
}
.what-sales-contents p span {
	color: var(--sb-white);
}
.what-sales-box-footer {
	border-radius: 1rem;
	background: rgba(255, 255, 255, 0.03);
	padding: 2.25rem 1.25rem;
	position: relative;
	max-width: 35.438rem;
}
.what-sales-box-footer .qute-icon {
	background-color: #BCA5FF;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.188rem;
	height: 3.188rem;
	border-radius: 50%;
	position: absolute;
	top: -1.563rem;
	z-index: 2;
	left: 1.5rem;
}
.what-sales-box-footer p {
	color: #E2E6E9;
	font-family: var(--font-instrument-sans);
	font-style: italic;
	font-weight: 400;
	letter-spacing: -0.56px;
	line-height: normal;
	font-size: 1.125rem;
	margin-top: 0.375rem;
}
.what-sales-box-footer p span {
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.56px;
}
.follow-up-contens p:nth-child(2) {
	color: var(--sb-white);
}
.what-sales-image img {
  border-radius: 0.838rem;
}
.what-sales-footer p {
  color: #E7E7E7;
  max-width: 44.875rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  letter-spacing: -0.48px;
  font-weight: 600;
  line-height: normal;
  font-family: var(--font-zalando-sans);
}
@media only screen and (max-width: 1400px) {
.what-sales-contents {
	width: 40.625rem;
}
}
@media only screen and (max-width: 1199px) {
.what-sales-contents {
	width: 35.625rem;
}
.what-sales-contents h5 {
	margin-bottom: 2.75rem;
}
}
@media only screen and (max-width:991px) {
.what-sales-contents {
	width: auto;
}
.what-sales-footer p {
	font-size: 1.25rem;
}
}
@media only screen and (max-width: 767px) {
.what-sales-footer p {
	font-size: 1.1rem;
}
.what-sales-box-footer p {
	font-size: 1.1rem;
}
.what-sales-boxes-inner {
	grid-template-columns: repeat(1, 1fr);
	row-gap: 3rem;
}
}
/* What Sales Css End */


/* Sales Review Css Start */
.sales-review-section .clients-review {
	border-radius: 300px;
	border: 1px solid rgba(228, 218, 255, 0.18);
	background: rgba(255, 255, 255, 0.04);
}

.sales-review-boxes-wrapper {
	width: 100%;
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.sales-review-boxes-wrapper:last-of-type {
	margin-bottom: 0;
}

.sales-review-box {
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: #121212;
  padding: 2.5rem;
  direction: ltr;
  text-align: left;
}
.stars-review {
  display: block;
  margin-bottom: 1rem;
}
.sales-review-box p {
  color: var(--sb-white);
  margin-bottom: 1rem;
  font-size: 0.875rem;
  letter-spacing: -0.14px;
  line-height: 140%;
  font-weight: 500;
  font-family: var(--font-instrument-sans);
}
.sales-review-thumb {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.sales-review-thumb span {
  color: var(--sb-white);
  font-size: 0.875rem;
  letter-spacing: -0.42px;
  font-weight: 600;
  line-height: normal;
}

.review-carousel-wrapper {
  position: relative;
}
.review-carousel-wrapper::before {
  position: absolute;
  content: "";
  width: 615px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #121212 8.94%, rgba(18, 18, 18, 0.00) 67.48%);
  z-index: 3333;
}
.review-carousel-wrapper::after {
  position: absolute;
  content: "";
  width: 615px;
  height: 100%;
  top: 0;
  left: auto;
  right: 0;
  background: linear-gradient(270deg, #121212 8.94%, rgba(18, 18, 18, 0.00) 67.48%);
  z-index: 3333;
}

/* Sales Review Css End */


/* Story Section Css Start */
.story-section .section-heading {
	margin-bottom: -20px;
}
.story-inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.5rem;
	align-items: center;
}
.story-right p:nth-child(2){
	color: #9E9E9E;
}
.story-right p {
  color: #E2E6E9;
}

.story-right {
	max-width: 35.938rem;
}

@media only screen and (max-width: 767px) {
.story-inner {
	grid-template-columns: repeat(1, 1fr);
}
.contents-list-box {
	padding: 16px;
}
}
/* Story Section Css End */

/* Psychology Advantage Css Start */
.heading-description {
  color: var(--sb-white);
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.72px;
  font-size: 1.5rem;
  font-family: var(--font-zalando-sans);
}
.psychology-advantage-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2rem;
}
.psychology-advantage-left {
	max-width: 34.688rem;
}
.contents-list-box {
	margin: 0;
	list-style: none;
	border-radius: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.03);
	background: rgba(255, 255, 255, 0.02);
	padding: 1.5rem;
	margin: 1.125rem 0;
}
.contents-list-box li img {
	margin-right: 0.25rem;
}
.contents-list-box li span {
  color: var(--sb-primary);
}
.contents-list-box li:not(:last-child) {
	margin-bottom: 0.5rem;
}
.contents-list-box li {
  color: var(--sb-white);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.18px;
  font-family: var(--font-instrument-sans);
}
.psychology-advantage-footer h4 {
  letter-spacing: -0.72px;
  line-height: 140%;
  font-weight: 600;
}
.psychology-advantage-footer h4 span {
  color: var(--sb-primary);
}
@media only screen and (max-width: 991px) {
.heading-description {
	font-size: 1.1rem;
}
.contents-list-box li {
	font-size: 1rem !important;
}
}
@media only screen and (max-width: 767px) {
.heading-description {
	font-size: 1rem;
}
.psychology-advantage-inner {
	grid-template-columns: repeat(1, 1fr);
	row-gap: 1.875rem;
}
.psychology-advantage-right {
	order: 1;
}
.psychology-advantage-left {
	order: 2;
}
}
/* Psychology Advantage Css End */
/*
==================================
Frequently Asked Questions
==================================
*/
.frequently-asked-questions {
  position: relative;
}
.eleps-blur {
  fill: rgba(203, 245, 109, 0.06);
  filter: blur(89.6500015258789px);
  background: #CBF56D0F;
  width: 35.375rem;
  height: 350px;
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.section-heading h2 span {
	color: var(--sb-primary);
}
.accordion-wrapper {
	max-width: 56.25rem;
	margin: 2.5rem auto;
}
.accordion-box {
	border-radius: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.03);
	background: #171717;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-bottom: 0.75rem;
}
.accordion-header {
	padding-top: 0.938rem;
	padding-bottom: 0.938rem;
	cursor: pointer;
	font-size: 1.125rem;
	letter-spacing: -0.18px;
	line-height: 140%;
	text-align: left;
	color: var(--sb-white);
	position: relative;
	padding-right: 50px;
}
.accordion-header::after {
	position: absolute;
	content: "+";
	width: 1.25rem;
	height: 1.25rem;
	line-height: 1.375rem;
	border: 1.5px solid #fff;
	border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	right: 0.938rem;
	top: 1rem;
}
.accordion-header.active::after {
	content: "-";
	line-height: 1.125rem;
}
.accordion-content P {
	font-size: 0.938rem;
}
.accordion-content {
	display: none;
	overflow: hidden;
	padding-bottom: 1.25rem;
}
@media only screen and (max-width:767px) {
.accordion-header {
	font-size: 1rem;
}
.accordion-content p {
	font-size: 0.875rem;
}
}

/*
==================================
Deal Slip Away Section
==================================
*/
.sec_border {
  position: relative;
}
.sec_border:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: radial-gradient( 50% 100% at 50% 0%, rgba(203, 245, 109, 0.35), rgba(203, 245, 109, 0) );
}
.deal-slip-inner {
	display: grid;
	grid-template-columns: repeat(2, 468px);
	column-gap: 2.5rem;
	justify-content: space-around;
}
.section-heading h2 {
  margin-bottom: 1rem;
}
.deal-slip-content-bottom h4 {
	color: var(--sb-primary);
	letter-spacing: -0.72px;
	line-height: 140%;
	font-size: 1.5rem;
	margin-top: 0.6250rem;
	font-family: "Inter", sans-serif;
}
.deal-slip-content-bottom h4 span {
   color: #BCA5FF;
    text-decoration-line: line-through;
}
.deal-slip-content-bottom p {
  line-height: 140%;
  letter-spacing: -0.54px;
}
.deal-slip-content-bottom .site-btn {
	margin-top: 2.0000rem;
	display: inline-block;
}
.deal-slip-content-bottom .clients-review {
	margin-top: 0.7500rem;
}
.socials-app-wrapper {
	margin-top: 2.0000rem;
	display: flex;
	column-gap: 0.6250rem;
	flex-wrap: wrap;
}
.socials-app-wrapper img {
	height: 3.063rem;
}
.clients-review {
	max-width: 23.313rem;
}
@media only screen and (max-width: 1199px) {
.deal-slip-inner {
	grid-template-columns: repeat(2, 400px);
}
}
@media only screen and (max-width: 991px) {
.site-btn {
	font-size: 1rem;
	padding: 0.875rem 1.875rem;
}
.deal-slip-inner {
	grid-template-columns: repeat(2, 1fr);
}
.deal-slip-content-bottom h4 {
	font-size: 1.2rem;
}
p {
	font-size: 0.9375rem;
}
.deal-slip-inner {
	grid-template-columns: repeat(1, 1fr);
	row-gap: 2.813rem;
}
}
@media only screen and (max-width: 767px) {
.sec_border::before {
	height: 0.2rem;
}
.deal-slip-content-bottom h4 {
	font-size: 1rem;
}
.deal-slip-content-bottom .site-btn {
	margin-top: 1.5rem;
	display: inline-block;
}
.socials-app-wrapper {
	margin-top: 1.5rem;
	display: flex;
	column-gap: 0.6250rem;
	row-gap: 1.25rem;
}
.site-btn {
	font-size: 0.938rem;
	padding: 0.75rem 1.75rem;
}
.deal-slip-right {
	max-width: 18.75rem;
}
}
/*
==================================
Deal Slip Away Section End
==================================
*/





/* Footer Style */
.site-footer {
  background: var(--sb-primary);
}

