/* Imran CSS  */

/*Header Style Start*/
.site-header {
	position: relative;
}
.site-branding {
	width: 4.5rem;
	height: 4.3125rem;
	margin: 0 auto;
}

/* Header Shape */
.shape-wrapper .header-left-shape {
	width: 36.7969rem;
	height: 27.7028rem;
	transform: rotate(63.377deg);
	border-radius: 36.7969rem;
	opacity: 0.23;
	background: var(--sb-primary);
	filter: blur(14.6563rem);
	margin-left: -22.6875rem;
}
.shape-wrapper .header-right-shape {
	width: 40.875rem;
	height: 34.0687rem;
	transform: rotate(-35.775deg);
	border-radius: 40.875rem;
	opacity: 0.23;
	background: #BCA5FF;
	filter: blur(122.8499984741211px);
	margin-right: -25.5625rem;
}
.shape-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: -30.625rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

@media only screen and (max-width: 400px){
	.site-branding {
		width: 2.625rem;
		height: 2.5125rem;
		border-radius: .6875rem;
		overflow: hidden;
	}
	.shape-wrapper .header-left-shape {
		width: 22.4754rem;
		height: 16.9208rem;
		transform: rotate(63.377deg);
		border-radius: 22.4754rem;
		filter: blur(14.6563rem);
		margin-left: -15.25rem;
	}
	.shape-wrapper .header-right-shape {
		width: 24.9663rem;
		height: 20.809rem;
		transform: rotate(-35.775deg);
		border-radius: 24.9663rem;
		filter: blur(7.6781rem);
		margin-right: -23.1875rem;
	}
	.shape-wrapper {
		margin-top: -4.75rem;
	}
}

/* Hero Style Start */

.client-review-top {
	width: 24.0625rem;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}
.hero-content {
	text-align: center;
}
.hero-content h1,
.hero-content p {
	margin-bottom: 1.5rem;
}
.hero-content span {
	color: #BCA5FF;
}
.quiz-btn {
	display: inline-block;
	margin-bottom: .5rem;
}
.hero-content .app-link {
	display: flex;
	justify-content: center;
	column-gap: .5rem;
	align-items: center;
}
.hero-content .app-link span {
	margin-right: .125rem;
	color: var(--sb-text-color);
	font-family: var(--font-instrument-sans);
	font-size: .75rem;
	line-height: normal;
	font-weight: 400;
	letter-spacing: -0.0075rem;
}
.app-icn {
	display: flex;
	align-items: center;
}
.app-icn a {
	display: flex;
	flex-shrink: 0;
	align-items: center;
}
.app-showcase-inner .mobile-mockup {
	width: 31.25rem;
	height: 30.375rem;
	margin: 0 auto;
}
.app-showcase-inner {
	text-align: center;
	position: relative;
}
.mobile-mockup .text-svg svg {
	margin-top: -1.25rem;
	display: block;
}
.text-svg {
	margin-top: -3.875rem;
	position: relative;
	z-index: -1;
}
.app-showcase-inner::after {
	background: #12121299;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.app-showcase-inner .app-about {
	width: 27rem;
	padding: 1.5rem;
	border-radius: 1.1667rem;
	border: .5625rem solid rgba(255, 255, 255, 0.02);
	background: radial-gradient(133.5% 133.5% at 50.14% 90.33%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(26, 26, 26, 0.80);
	backdrop-filter: blur(13.350000381469727px);
	position: absolute;
	bottom: 4.4375rem;
	left: 10.25rem;
	text-align: start;
}
.app-showcase-inner .app-about h2 {
	font-family: var(--font-zalando-sans);
	font-size: 1.5rem;
	color: var(--sb-primary);
	margin-bottom: .5831rem;
}
.app-showcase-inner .app-about h2 span {
	color: #C7B4FF;
	padding-left: .25rem;
}
.app-about p {
	font-family: var(--font-instrument-sans);
	font-size: 1rem;
	color: var(--sb-heading);
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: -0.16px;
}

@media only screen and (max-width: 767px){
	.app-showcase-inner .app-about {
		position: static;
		text-align: start;
		margin-top: 3.125rem;
		margin-left: auto;
		margin-right: auto;
	}
}





@media only screen and (max-width: 400px){
	.client-review-top {
		width: 17.375rem;
		margin-bottom: 1rem;
	}
	.hero-content h1 {
		font-size: 1.5rem;
	}
	.hero-content h1, .hero-content p {
		margin-bottom: 1rem;
	}
	.text-svg {
		margin-top: -1.6875rem;
		position: relative;
		z-index: -1;
	}
	.app-showcase-inner .mobile-mockup {
		width: 16.0625rem;
		height: 15.625rem;
	}
	.app-showcase-inner .app-about {
		margin-top: 2.0625rem;
		width: 100%;
	}
	.app-showcase-inner .app-about h2 {
		font-family: var(--font-zalando-sans);
		font-size: 1.25rem;
		color: var(--sb-primary);
		margin-bottom: .5831rem;
	}
}

/* Introducing Sales Buddi */
.introducing-section-headding {
	text-align: center;
}
.introducing-section-headding h2 {
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: -0.06rem;
}
.introducing-section-headding p {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.0125rem;
}
.introducing-section-content-wrapper {
	display: flex;
	column-gap: 2.5rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	align-items: center;
}
.introducing-section-media {
	padding: 2.5rem;
}
.introducing-section-content h3 span {
	color: #BCA5FF;
}
.introducing-section-content h3 {
	letter-spacing: -0.06rem;
	margin-bottom: 1.125rem;
}
.introducing-sales-buddi-inner {
	border-radius: 3rem;
	border-top: .0625rem solid rgba(203, 245, 109, 0.06);
	background: radial-gradient(86.85% 86.85% at 50% 0%, rgba(234, 251, 195, 0.03) 0%, rgba(234, 251, 195, 0.00) 100%);
	position: relative;
}
.introducing-sales-buddi-inner::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background: radial-gradient( 50% 100% at 50% 0%, rgba(203, 245, 109, 0.35), rgba(203, 245, 109, 0) );
}
.introducing-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.introducing-list li {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: -0.0112rem;
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 1.1875rem;
	margin-bottom: .5rem;
}
.introducing-list li::after {
	content: "";
	position: absolute;
	left: -1.1875rem;
	right: 0;
	width: .6875rem;
	height: .6875rem;
	background: #CBF56D;
	z-index: 10;
	border-radius: 1.25rem;
}

.sales-buddi-personalizes-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.personalizes-item {
	width: 2.5rem;
	height: 2.5rem;
	margin-bottom: .625rem;
}
.buddi-personalizes-item-wrapper {
	padding: 2.5rem 2.5rem;
	position: relative;
	overflow: hidden;
}
.buddi-personalizes-item-wrapper p {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: -0.0112rem;
}
.buddi-personalizes-item-wrapper p span {
	color: var(--sb-white);
}
.buddi-personalizes-item-wrapper::after {
	content: "";
	position: absolute;
	width: .0625rem;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.08);
}

.buddi-personalizes-item-wrapper:first-of-type::after {
	display: none;
}

@media only screen and (max-width: 767px){
	.introducing-section-content-wrapper {
		flex-direction: column;
		padding: 0;
	}
	.introducing-section-media {
		order: 2;
		height: 37.5rem;
		padding: 0;
		width: 100%;
	}
	.sales-buddi-personalizes-section {
		grid-template-columns: repeat(1, 1fr);
	}
	.buddi-personalizes-item-wrapper::after {
		width: 100%;
		height: .0625rem;
		left: 1.25rem;
	}
}

@media only screen and (max-width: 400px){
	.introducing-section-headding h2 {
		font-size: 1.5rem;
	}
	.introducing-section-content h3 {
		letter-spacing: -0.06rem;
		margin-bottom: 1.125rem;
		font-size: 1rem;
	}
	.introducing-section-headding p {
		font-size: 1rem;
	}
	.buddi-personalizes-item-wrapper {
		padding: 2.5rem 0;
	}
	.buddi-personalizes-item-wrapper::after {
		left: 0;
	}
	.introducing-section-media {
		padding: 0;
		width: 100%;
		height: 20.625rem;
	}
	.buddi-personalizes-item-wrapper p {
		font-size: 1rem;
	}
}


/* Value Proposition */
.section-heading h2 {
	line-height: normal;
	letter-spacing: -0.06rem;
	margin-bottom: 3.125rem;
}
.value-proposition-content-wrapper {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	column-gap: 2.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
}
.value-proposition-content p span {
	color: var(--sb-white);
	font-weight: 600;
}
.value-proposition-content p {
	margin-bottom: 1.125rem;
}
.value-proposition-content .text-color {
	color: var(--sb-white);
}
.value-proposition-content .text-color span {
	color: var(--sb-primary);
}
.value-proposition-inner-wrapper {
	border-radius: var(--Corners, 16px);
	border: .0625rem solid rgba(255, 255, 255, 0.03);
	background: rgba(255, 255, 255, 0.02);
	padding: 1.5rem;
	margin-bottom: 1.125rem;
}
.value-proposition-inner-wrapper p {
	color: var(--sb-white);
	font-weight: 500;
	margin: 0;
}
.value-proposition-media.media {
	border-radius: 1rem;
	overflow: hidden;
}

@media only screen and (max-width: 767px){
	.value-proposition-content-wrapper {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		padding-left: 0;
		padding-right: 0;
		row-gap: 2.5rem;
	}
	.value-proposition-btn .quiz-btn {
		margin-top: .75rem;
		margin-bottom: .75rem;
	}
}

@media only screen and (max-width: 767px){
	.value-proposition-btn {
		text-align: center;
	}
}


/* Why Take the Quiz Section Start */
.take-the-quiz-content {
  display: flex;
  column-gap: 4.5rem;
  align-items: center;
}
.take-the-quiz-content h4 {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.025rem;
	margin: 0;
}
.take-the-quiz-content {
	display: grid;
	column-gap: 4.5rem;
	align-items: center;
	grid-template-columns: 12.5rem minmax(0, 45.125rem);
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	border-bottom: .0625rem solid rgba(58, 58, 58, 0.69);
}
.take-the-quiz-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.quiz-content-inner {
	display: flex;
	column-gap: 4.5rem;
	align-items: center;
}
.chech-icon {
	display: flex;
	flex-shrink: 0;
	width: 2.625rem;
	height: 2.625rem;
}
.quiz-content-inner p {
	font-weight: normal;
	line-height: 140%;
	letter-spacing: -0.0112rem;
}
.section-heading h3 span{
	color: var(--sb-primary);
}
.the-science-behiend-content p span {
  color: var(--sb-white);
}

.the-science-behiend-section {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	width: 62.5rem;
	align-items: center;
	margin: 0 auto;
	border-radius: 1rem;
	border-bottom: 1px solid var(--Border-Gradient, rgba(212, 247, 134, 0.20));
	background: linear-gradient(180deg, rgba(23, 23, 23, 0.00) 18.9%, #171717 126%);
	overflow: hidden;
	padding: 3.875rem;
	column-gap: .625rem;
}
.the-science-behiend-media {
	border-radius: 1rem;
	overflow: hidden;
}
.the-science-behiend-content {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.what-happens {
	text-align: center;
	max-width: 62.5rem;
	margin: 0 auto;
	position: relative;
}
.what-happens-shape {
	max-width: 26.375rem;
	max-width: 26.375rem;
	position: absolute;
	top: -9.375rem;
	bottom: 11.1668rem;
	fill: rgba(203, 245, 109, 0.06);
	filter: blur(5.6031rem);
	left: calc(44% - 9.375rem);
}
.what-happens h3 {
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: -0.0675rem;
	margin-bottom: 1rem;
}
.what-happens span {
	color: var(--sb-white);
}
.what-happens .quiz-btn {
	margin-top: 2rem;
}


@media only screen and (max-width: 991px){
	.take-the-quiz-inner {
		margin-left: 3rem;
		margin-right: 3rem;
	}
	.take-the-quiz-content {
		column-gap: 2.5rem;
	}
	.quiz-content-inner {
		column-gap: 2.5rem;
	}
	.take-the-quiz-content {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 1rem;
	}
	.the-science-behiend-section {
		width: 100%;
	}
	.what-happens {
		width: 100%;
	}


}

@media only screen and (max-width: 767px){
	.the-science-behiend-section {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		width: 100%;
		padding: 4.125rem 1rem;
		row-gap: 2rem;
	}
	.the-science-behiend-media {
		order: 2;
	}
	.the-science-behiend-content{
		padding: 0;
	}
	.take-the-quiz-inner {
		margin-left: 0;
		margin-right: 0;
	}

}


@media only screen and (max-width: 400px){
		.take-the-quiz-content {
			position: relative;
			margin-bottom: 2.5rem;
	}
		.chech-icon {
			position: absolute;
			top: -1rem;
	}
		.the-science-behiend-section {
			padding: 1.625rem 1rem;
	}
}


/* How it works */
.how-it-works-items-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}
.how-it-works-item {
	padding: 2rem;
	border-radius: 1rem;
	position: relative;
}
.how-it-works-item.step-1 {
	background: var(--sb-primary);
}
.how-it-works-item.step-2 {
  background: #BCA5FF;
}
.how-it-works-item.step-3 {
  background: #6D9EFF;
}
.how-it-works-item h3 {
	color: #121212;
	opacity: 0.36;
	margin-bottom: 4.375rem;
}
.how-it-works-item h4 {
	color: #121212;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.03rem;
}
.how-it-works-item p {
	color: #121212;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: -0.0112rem;
}
.make-money-icon {
	max-width: 9.6875rem;
	max-height: 9.6875rem;
	position: absolute;
	top: -2.8125rem;
	right: 1.4375rem;
}
.abc-icon.media {
	max-width: 9.75rem;
	max-height: 8.375rem;
	position: absolute;
	top: -0.75rem;
	right: 0;
}
.closer-icon {
	max-width: 14.1875rem;
	max-height: 6.5625rem;
	position: absolute;
	top: 1rem;
	right: 0;
}
.how-it-works-bottom {
	text-align: center;
}

@media only screen and (max-width: 767px){
	.how-it-works-items-wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

}


@media only screen and (max-width: 400px){
	.make-money-icon {
		max-width: 6.5625rem;
		max-height: 6.5625rem;
		top: -0.75rem;
		right: 0;
	}
	.abc-icon.media {
		max-width: 5.5rem;
		max-height: 4.6875rem;
		top: .9375rem;
		right: 0;
	}
	.closer-icon {
		max-width: 9.6875rem;
		max-height: 4.5rem;
		top: 1.0625rem;
		right: 0;
	}
}


